@media (max-width: 1400px) {
  .container-center {
    width: 1200px;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
  }
  main{
    margin: 5rem 0;
  }
  .search_product_mains{
  position: fixed;
  top: 16%;
  z-index: 999;
  background-color: var(--bgnav-color);
  display: flex;
  justify-content: center;
  padding: 1.4rem;
  transition: top 0/3s ease-in-out;
  margin-top: 20px;
}
  .bg-login{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20rem 0 10rem 0;
      height: 50rem;
      /* max-width: 500px; */
    }.login{
      width: 500px;
      color: black;
      /* margin: 2rem auto; */
      /* background-color: #b7764e; */
    }
}
@media (max-width: 1220px) {
  .container-center {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .nav-img {
    width: 20rem;
    /* order: 2; */
    margin-left: 0.5rem;
  }
  .nav-login {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
  }
  .nav-category {
    display: flex;
    gap: 0.5rem;
  }
  .nav-login-search,
  .nav-login-user {
    display: none;
  }
}
/* Mobile & tablet */
@media (max-width: 1070px) {
  .container-center {
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }
  .hiden-tab-mobi {
    display: none;
  }
  .show-tab-mobi {
    display: block;
  }
  .navbar {
    background: var(--bgnav-color);
    padding: 1rem 0rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    position: relative;
  }
  .nav-img {
    width: 20rem;
    order: 2;
    margin-left: 0.5rem;
  }
  .nav-login {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
  }
  .nav-category {
    display: flex;
    flex-direction: column;
    order: 1;
    position: fixed;
    top: 0;
    width: 37%;
    height: 100%;
    z-index: 12000;
    background-color: var(--green-color);
    padding: 4rem 0rem;
    overflow: scroll;
    left: -500px;
    transition: left 1s ease-in-out;
  }
  .dropdown {
    /* position: absolute; */
    margin: 1rem 0;
    background: var(--PalePink-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: static;
    display: block;
  }
  .dropdown-container {
    display: block;
    justify-content: left;
    padding: 1rem 0.2rem;
    flex-direction: column;
    align-items: unset;
  }
  .dropdown-container a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--green-color) !important;
    line-height: 1rem;
  }
  .dropdown li {
    width: 100%;
    padding: 1rem 2rem;
  }
  .dropdown-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 auto;
  }
  .dropdown-container a:hover {
    border-bottom: none;
  }
  .learn-title {
    display: none;
    font-size: 1.8rem;
    margin: 0.5rem 0;
    color: var(--green-color);
    border-bottom: none;
  }
  .menu-item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bgnav-color);
  }
  .show-nav {
    left: 0;
  }
  .nav-bars {
    display: block;
    font-size: 2.8rem;
    margin: 0 1rem;
  }
  .nav-login {
    display: flex;
    align-items: center;
    gap: 2rem;
    order: 3;
  }
  .menu-list {
    position: relative;
    padding: 1rem 0em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: block;
  }
  .menu-item {
    margin-left: 2rem;
    color: var(--bgnav-color);
    font-weight: 500;
    font-size: 1.6rem;
  }

  .img-nav {
    display: none;
  }

  .banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .banner-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 32% 24%;
  }
  .baner-img-content p {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
    color: var(--PalePink-color);
  }
  .baner-img-content p:first-child {
    font-size: 2rem;
  }
  .baner-img-content p:nth-child(2) {
    font-size: 1rem;
  }
  .baner-img-content p:nth-child(3) {
    margin: 5rem 0;
  }
  .baner-img-content a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--PalePink-color);
    background-color: var(--green-color);
    padding: 1.4rem 5rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
  }
  .baner-img-content a:hover {
    color: var(--green-color);
    background-color: var(--bgnav-color);
  }

  .product-list {
    width: 100%;

    overflow-x: auto;
  }
  .product-item {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 2rem; */
    overflow: auto;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
  }
  .product-item-col {
    margin-right: 2rem;
    flex: 0 0 auto;
    width: 30%;
  }
  .product-item-col-img {
    width: 100%;
  }
  .product-item-col-img img {
    width: 100%;
    height: auto;
  }
  .hide-product {
    display: block;
  }

  .product-item-col-information-col-left,
  .product-item-col-information-col-right {
    font-size: 1.5rem;
  }

  .footer{
    display: unset;
    flex-direction: column;
    gap: 0;
    flex: unset;
    align-items: center;
    margin-bottom: 5rem;
  }
  .footer-img {
    width: 28rem;
    margin: 2rem auto;
  }
  .footer-img img{
    width: 28rem;
    margin: 0 auto;
  }
  .footer-content{
    flex: unset;
    display: unset;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .footer-col{
    width: 100%;
    flex: 1% 0 0;
    color: var(--PalePink-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .footer-col p{
    font-size: 2.5rem;
    text-align: center;
    color: var(--bgnav-color);
  }
  .footer-col a{
    text-align: center;
    color: var(--PalePink-color);
    font-size: 1.8rem;
    text-decoration: none;
    margin: 1.5rem 0;
    transition: color 0.2s ease-in-out;
  }
  .privacy-policy{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
  .security{
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }
  .social-media{
    order: 1;

    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
  }
  .security a{
    text-align: center;
    text-decoration: none;
    color: var(--PalePink-color);
    font-size: 1.8rem;
  }

  

  
}

/* tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: block;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .container-center {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .hide-mobi {
    display: none;
  }
  .show-mobi {
    display: block;
  }
  .nav-category {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    order: 1;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 12000;
    background-color: var(--green-color);
    padding: 4rem 0rem;
    transform: translateX(-100%);
  }
  .show-nav {
    transform: translateX(0);
  }

  .baner-img-content {
    width: 100%;
  }
  .baner-img-content p {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
    color: var(--PalePink-color);
  }
  .baner-img-content p:first-child {
    font-size: 2rem;
  }
  .baner-img-content p:nth-child(2) {
    font-size: 1rem;
  }
  .baner-img-content p:nth-child(3) {
    margin: 4rem 0;
  }
  .baner-img-content a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--PalePink-color);
    background-color: var(--green-color);
    padding: 1.5rem 4rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
  }
  .baner-img-content a:hover {
    color: var(--green-color);
    background-color: var(--bgnav-color);
  }

  .product-item-col {
    margin-right: 1.6rem;
    flex: 0 0 auto;
    width: 60%;
  }
  .product-item-col:nth-child(n) {
    display: block; /* Hiển thị hết mọi sản phẩm */
  }
  .interest-title p {
    font-size: 2.8rem !important;
    line-height: 5rem;
  }
  .interest-list {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column;
  }

  .plant-highlight {
    margin: 8rem 0;
    background-color: rgb(246, 207, 178, 0.6);
    background: none;
    height: auto;
    padding: 0;

    width: 100%;
    position: relative;
  }
  .feature-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding: 7rem 0; */
  }
  
  .feature-video{
    width: 100%;
    height: 40rem;
    order: 2;
    border-radius: 0;
    overflow: hidden;
  }
  .feature-product video {

    width: 100%;
    height: 100%;
    order: 2;
    border-radius: 0;
    object-fit: cover;
  }
  .feature-product source {
    width: 100%;
    /* height: 60rem; */
    order: 2;
    border-radius: 0;
  }

  .feature-product-content {
    order: 1;
    width: 100%;
    /* padding: 0 8rem; */
  }
  .feature-title p {
    /* width: 80%; */
    text-align: center;
    margin: 2rem 0;
    line-height: 2rem;
    color: var(--green-color);
  }
  .feature-title p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .feature-title p:nth-child(2) {
    font-size: 1.5rem;
  }
  .feature-title p:nth-child(3) {
    font-size: 1.2rem;
  }
  .feature-title a {
    text-decoration: none;
    color: var(--bgnav-color);
    background-color: var(--green-color);
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
  }
  .bg-chat{
    margin: 8rem 0;
    padding: 0;
  }
  .chat-user{
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  .chat-user-content p{
    line-height: 2rem
  }
  .chat-user-content p:nth-child(1){
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  
  }
  .chat-user-content p:nth-child(2){
    width: 85%;
    font-size: 1.5rem;
  }
  .chat-user-content p:nth-child(3){
    margin: 2rem 0 0 0 ;
  }
  .chat-user-content button{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--green-color);
    font-weight: bold;
    border: 0rem  solid var(--green-color);
    transition: background 0.5s ease-in-out;
  }
  .bg-gift{
    margin:0;
    padding: 0;
    /* background-color: var(--bg-color); */
  }
  .gift{
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }
  .gift-content{
    order: 1;
  }
  .gift-img{
    order: 2;
  }
  .gift-video{
    width: 100%;
    height: 50rem;
    order: 2;
    border-radius: 0;
    overflow: hidden;
  }
  .gift-video video{
    width: 100%;
    height: auto;
  }
  .gift-content p{
    color: var(--green-color);
    font-size: 2rem;
    text-align: center;
    line-height: 4rem
  }
  .gift-content p:nth-child(1){
    font-size: 1.5rem;
    font-weight: bold;
  
  }
  .gift-content p:nth-child(2){
    width: 85%;
    font-size: 1.4rem;
  }
  









  /* product------------------------------------------ */

  .title_shop-product{
    display: flex;
    justify-content: space-between;
    margin: 20rem 0 0 0;
  }
  .title_shop-product_h2{
      /* text-align: center; */
      font-size: 2rem;  
  }

  .shop-product{
    margin: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .shop-product-left{
    background-color: var(--bgnav-color);
    height: 100%;
    width:  100%;
    flex:   30%;
    position: sticky;
    top: 6%;
    z-index: 5000;
  }
  .header-shop-product{
    font-size: 1.8rem;
    padding: 2rem;
    border-top: 0.1rem solid var(--green-color);
    cursor: pointer;
}
  .shop-product-list{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
}

}
